{% extends "base.html" %}

{% block pagetitle %} Exercise {% endblock %}

{% block content %}
    <div class="row">
			<div class="col-md-6">
				<h2 class="text-center">Inventory</h2>
				<div id="list-contents"></div>
			</div>
			<div class="col-md-6">
				<h2 class="text-center">Cart</h2>
				<div id="shopping-cart">
				</div>
			</div>
		</div>
		<a href="/">Home</a>
{% endblock %}

{% block jsimports %}

    <script type="text/jsx" src="{{url_for('static', filename='js/samples/8.js')}}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/samples/exercise.js')}}"></script>
    <script type="text/jsx">
        React.render(
            <InventoryBox list_url='/get-items' cart_url='/get-cart-items' checkInterval={1000}/>,
            document.getElementById('list-contents')
        );
        /*
        React.render(
        	<CartBox url='/get-cart-items' checkInterval={1000}/>,
        	document.getElementById('shopping-cart')
        );*/
    </script>

{% endblock %}

		