<html>
    <head>
        <title>Bucket List! - {% block pagetitle %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/global.css')}}"/>

        {% block cssimports %}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Jinja Samples</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{url_for('default.one')}}">Home</a></li>
                        {% if not session.username %}
                            <li><a href="{{url_for('default.login_page')}}">Login</a></li>
                            <li><a href="{{url_for('default.signup_page')}}">Signup</a></li>
                        {% else %}
                            <li><a href="{{url_for('default.logout_submit')}}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class='container'>
            {% block content %}
            {% endblock %}
            <table style="width:70%;margin-top:30px;">
                <tr>
                    <td style="width:50%;">
                        <ul>

                            <li><a href={{ url_for('default.one') }}>Hello World!</a></li>
                            <li><a href={{ url_for('default.two') }}>Step 2</a></li>
                            <li><a href={{ url_for('default.three') }}>Step 3</a></li>
                            <li><a href={{ url_for('default.four') }}>Step 4</a></li>
                            <li><a href={{ url_for('default.five') }}>Step 5</a></li>
                            <li><a href={{ url_for('default.six') }}>Step 6</a></li>
                            <li><a href={{ url_for('default.seven') }}>Step 7</a></li>
                            <li><a href={{ url_for('default.eight') }}>Step 8</a></li>
                        </ul>
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <!--
        <script type="text/javascript" src="{{url_for('static', filename='js/react.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/JSXTransformer.js')}}"></script>
        -->
        
            <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/JSXTransformer.js"></script>
        
        

        {% block jsimports %}
        {% endblock %}
    </body>
</html>